*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header,footer{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat",sans-serif;
}

header h1{
	font-size: 60px;
}
.animation{
	height: 100vh;
	background-image: linear-gradient(
		 45deg,
		 #f794a4 0%, 
		 #fdd6bd 100%);
		);
  
	position: relative;
	overflow: hidden;/*I have stated it as hidden here because,if the paper plane leaves the screen it will not scroll more!*/
}
.paper-plane{
	height: 100px;
	position: absolute;
	top: 50%;
	left: 0%;
}

